@import "../../styles.scss";

.generator-div{
    height: 540px;
    width: 345px;
}

h1{
    color: #817D92;
    font-size: 20px;
    text-align: center;
    margin-bottom: 1rem;

}

.options{
    background-color: $generator-background;
    width: 343px;
    height: 423px;
    padding: 1rem;
}

.generate-btn{
    width: 311px;
    height: 56px;
    background-color: $green;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 700;
}