@import "../../styles.scss";

.generator-div{
    height: 540px;
    width: 345px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $font;
    @media screen and (min-width: $tablet){
        width: 540px;
        height: 696px;
    }
}

h1{
    color: #817D92;
    font-size: 20px;
    text-align: center;
    margin-bottom: 1rem;

    @media screen and (min-width: $tablet){
        font-size: 30px;
    }

}

.options{
    background-color: $generator-background;
    width: 343px;
    padding: 1rem;

    @media screen and (min-width: $tablet){
        width: 540px;
        height: 696px;
        padding: 2rem;
    }
}

.generate-btn{
    width: 311px;
    height: 60px;
    background-color: $green;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 700;

    @media screen and (min-width: $tablet){
        width: 100%;
    }

    img{
        margin-left: 10px;
    }
}

.generate-btn:hover{
    cursor: pointer;
    background-color: $generator-background;
    color: $green;
    border: 1px solid $green;

    img{
        filter: invert(91%) sepia(14%) saturate(582%) hue-rotate(72deg) brightness(108%) contrast(97%);
    }
}