@import "../../styles.scss";

.password-field-paragraph{
    width: 343px;
    height: 64px;
    background-color: $generator-background;
    color: $gray;
    display: flex;
    align-items: center;
    padding: 1rem;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 1rem;
}