@import "../../styles.scss";

.strenght-state-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: $darkgray;
    height: 72px;
    margin: 2rem 0 4rem 0;
    padding: 0 2rem 0 2rem;
    font-family: $font;

    @media screen and (max-width: $tablet){
        margin: 2rem 0 2rem 0;
    }
}

.strenght-state-paragraph{
    font-size: 20px;
    font-weight: 700;
    color: $gray;
    letter-spacing: 0.2rem;
}

.strenght-state-options-div {
    display: flex;
    gap: 0.5rem;
}

.strenght-state-option {
    width: 10px;
    height: 30px;
    border: 1px solid white;
    background-color: transparent;
}

.box-red {
    background-color: #f00;
}

.box-yellow {
    background-color: #f2e532;
}

.box-green {
    background-color: #a4ffaf;
}

.box-empty {
    background-color: transparent;
}
