@import "../../styles.scss";


.checkbox-div{
    height: 131px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    @media screen and (min-width: $tablet){
        width: 540px;
        height: 200px;
    }
}

input, label{
    display: block;
}

input{
    margin-right: 1rem;
    accent-color: $green;
}

input[type='checkbox']:hover{
    cursor: pointer;
}

label{
    color: $white;
    font-size: 20px;
}

.input-div{
    display: flex;
    align-items: center;
}

.inputCheckbox{
    height: 20px;
    width: 20px;
    border: 1px solid $white;
    background-color: $generator-background;
    outline: none;
}