<div class="checkbox-div">
    <input type="checkbox" id="upper" name="upper" value="upper">
    <label for="upper">Include Uppercase Letters</label>
    <input type="checkbox" id="lower" name="lower" value="lower">
    <label for="upper">Include Lowercase Letters</label>
    <input type="checkbox" id="number" name="number" value="number">
    <label for="numbers">Include Numbers</label>
    <input type="checkbox" id="symbol" name="symbol" value="symbol">
    <label for="numbers">Include Symbols</label>
</div>
