<div class="checkbox-div">
<div class="input-div">
    <input type="checkbox" id="upper" class="inputCheckbox"
        (change)="setUpper(($event.target as HTMLInputElement).checked)">
    <label for="upper">Include Uppercase Letters</label>
</div>

<div class="input-div">
    <input type="checkbox" id="lower" class="inputCheckbox"
        (change)="setLower($event.target.checked)">
    <label for="lower">Include Lowercase Letters</label>
</div>

<div class="input-div">
    <input type="checkbox" id="number" class="inputCheckbox"
        (change)="setNumbers($event.target.checked)">
    <label for="number">Include Numbers</label>
</div>

<div class="input-div">
    <input type="checkbox" id="symbol" class="inputCheckbox"
        (change)="setSymbols($event.target.checked)">
    <label for="symbol">Include Symbols</label>
</div>
</div>
