*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$white: #FFFFFF;
$black: #000000;
$gray: #54535B;
$lightgray: #E6E5EA;
$green: #A4FFAF;
$yellow: #F8CD65;
$orange: #FB7C58;
$red: #F64A4A;
$gradient1: #14131B;
$gradient2: #08070B;
$generator-background: #24232C;
